/* <!-- Card 1: Top Section --> */
.deck {
  margin: 20px 180px;
}

p#topdelicious {
  font-family: 'Yellowtail', cursive;
  font-size: 45px;
}
p#bestblog {
  font-family: 'Share', cursive;
}

 /* <!-- Card 1a: Left corner --> */
.logo {

}

/* <!-- Card 1b: Right corner --> */
.fb-icon {

}

.twit-icon {

}

.gp-icon {

}

.insta-icon {

}

.flic-icon {

}

.pint-icon {

}

.rss-icon {

}

.mail-icon {

}

#tinyicon {
  
}


/* <!-- Card 2: Text about Recipe --> */
.card.directions header {
  font-family: 'Oswald', sans-serif;
  /* bold */
}

.card.directions p {
  font-family: 'Karma', serif;
  text-indent: 3%;
}
.print-icon {

}

/* <!-- Card 3: List with school paper background. Unordered list of ingredients --> */
.card.ingredients img {
  position: relative;
}

.card.ingredients ul {
  font-family: 'Patrick Hand', cursive;
  top: 10px;
  left: 10px;
}

/* <!-- Card 4: Image and Contact info for Author --> */
.card.author {
  font-family: 'Karma', serif;
}

/* <!-- Card 5: Delicious copyright and publish --> */
.card.foot {
  font-family: 'Karma', serif;
}