

/* <!-- Card 1: Top Section --> */

/* <!-- Card 1a: Left corner --> */
.logo {

}

/* <!-- Card 1b: Right corner --> */
.fb-icon {

}

.twit-icon {

}

.gp-icon {

}

.insta-icon {

}

.flic-icon {

}

.pint-icon {

}

.rss-icon {

}

.mail-icon {

}

#tinyicon {

}


/* <!-- Card 2: Text about Recipe --> */
.print-icon {

}

/* <!-- Card 3: List with school paper background. Unordered list of ingredients --> */

/* <!-- Card 4: Image and Contact info for Author --> */

/* <!-- Card 5: Delicious copyright and publish --> */

font-family: 'Yellowtail', cursive;
font-family: 'Share', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Karma', serif;
